<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Портфолио художника Nickname</title>
</head>
<body>
<header>
    <div class="container">
        <a href="/" class="title-text">Nickname</a><hr>
    <p class="default-text"><a href="/">VK</a> | <a href="/">Telegram</a> | <a href="/">Pixiv</a></p>
  </div></header>
<div class="main">
    <table>
   <tr>
    <td><img src="{{ url_for('static', filename='example.png') }}"></td>
    <td><img src="{{ url_for('static', filename='example.png') }}"></td>
    <td><img src="{{ url_for('static', filename='example.png') }}"></td>
   </tr>
  </table>
<table>
   <tr>
    <td><img src="{{ url_for('static', filename='example.png') }}"></td>
    <td><img src="{{ url_for('static', filename='example.png') }}"></td>
    <td><img src="{{ url_for('static', filename='example.png') }}"></td>
   </tr>
  </table>
    <table>
   <tr>
    <td><img src="{{ url_for('static', filename='example.png') }}"></td>
    <td><img src="{{ url_for('static', filename='example.png') }}"></td>
    <td><img src="{{ url_for('static', filename='example.png') }}"></td>
   </tr>
  </table>
    <table>
   <tr>
    <td><img src="{{ url_for('static', filename='example.png') }}"></td>
    <td><img src="{{ url_for('static', filename='example.png') }}"></td>
    <td><img src="{{ url_for('static', filename='example.png') }}"></td>
   </tr>
  </table>
    <table>
   <tr>
    <td><img src="{{ url_for('static', filename='example.png') }}"></td>
    <td><img src="{{ url_for('static', filename='example.png') }}"></td>
    <td><img src="{{ url_for('static', filename='example.png') }}"></td>
   </tr>
  </table>
    <a href="/" class="button-left">Prev</a>
    <a href="/" class="button-right">Next</a><br><br><br>
</div>
<footer>
    <div class="container">
        <h3 class="default-text"><a href="https://pistoletoff.ru/">Данил Пистолетов</a> &copy | 2025</h3>
    </div>
</footer>
</body>
</html>